<%= link_to 'Create', new_task_path(@task),remote: true, :class => "btn btn-primary" %>
<div class="row">
    <div class="col-md-6 col-sm-12" >
        <h2 class="text-center">Todo List</h2>
        <div id="todo-container">   
        <% if @to_do%>
            <% @to_do.each do |task|%>
                <%= render "task", task: task %>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="col-md-6 col-sm-12" >
        <h2 class="text-center">Done List</h2>
        <div id="done-container">
        <% if @done%>
            <% @done.each do |task|%>
                <%= render "task", task: task %>
            <% end %>
        <% end %>
        </div>
    </div>
  </div>
  <script>
    new TasksIndex()
  </script>