// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
    width: 100%
}

body{
    padding:0px;
    margin:0px 0px 20px 0px;
}

#todo-container,
#done-container{
    max-height: 80%;
    overflow-y: scroll;
}